In [1]:
### I read the entire 700 page code book
# see 
# https://www2.census.gov/library/publications/cen2010/doc/sf1.pdf

In [2]:
import pandas as pd
import numpy as np
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
import sys
print(sys.version)

2.7.13 |Anaconda 4.3.1 (x86_64)| (default, Dec 20 2016, 23:05:08)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]

In [3]:
df = pd.read_csv('oh_geo_cleaned.csv', sep=',', names=['sf', 'st', 'a', 'b', 'c', 'location'], dtype=str)

In [4]:
df.head()

      sf  st   a   b  c location
0  SF1ST  OH  40  00  0     Ohio
1  SF1ST  OH  40  89  0     Ohio
2  SF1ST  OH  40  90  0     Ohio
3  SF1ST  OH  40  91  0     Ohio
4  SF1ST  OH  40  92  0     Ohio

In [5]:
q = "select * from df where location like '%County';"

In [ ]:
###We can see from this set that the County keys are NOT unique.  We'll have to run the 
###Analysis using the index as keys.  The best way to do that is by using pandas 
### and calling with df.iloc

In [9]:
nc_geo = df

In [10]:
nc_geo.head()

      sf  st   a   b  c        location
0  SF1ST  NC  40  00  0  North Carolina
1  SF1ST  NC  40  89  0  North Carolina
2  SF1ST  NC  40  90  0  North Carolina
3  SF1ST  NC  40  91  0  North Carolina
4  SF1ST  NC  40  92  0  North Carolina

In [11]:
nc_county_map = pd.read_csv('nc_dist_county_map.csv', sep = ',')

In [12]:
nc_county_map.head()

             County  Congressional_District District_of_Concern
0   Alamance County                       6         no concerns
1  Alexander County                       5         no concerns
2  Alleghany County                       5         no concerns
3      Anson County                       9         no concerns
4       Ashe County                       5         no concerns

In [13]:
nc_geo.shape

(344482, 6)

In [23]:
p10 = pd.read_csv('./Cleaned_Data_With_Text_Headers/NC_clean_with_text_headers/nc_p10_2010.csv', sep = '\t')

In [24]:
p10.head()

,FILEID,STUSAB,CHARITER,CIFSN,LOGRECNO,Total,Population_of_one_race,White_alone,Black_or_African_American_alone,American_Indian_and_Alaska_Native_alone,...,American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,Population_of_five_races,White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander,White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Some_Other_Race,White__Black_or_African_American__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,White__Black_or_African_American__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,White__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,Population_of_six_races,White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race
0,SF1ST,NC,0,4,1,7253848,7155579,5155756,1497453,87111,...,7,141,118,15,1,1,2,4,16,16
1,SF1ST,NC,0,4,2,6315,5936,1214,29,4563,...,0,0,0,0,0,0,0,0,0,0
2,SF1ST,NC,0,4,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SF1ST,NC,0,4,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,SF1ST,NC,0,4,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
p1.shape

(344482, 76)

In [17]:
### get the list of indices that correspond to County data
nc_geo.columns

Index(['sf', 'st', 'a', 'b', 'c', 'location'], dtype='object')

In [18]:
a = nc_geo[nc_geo['location'].str.contains("County")==True]
b = a[a['location'].str.contains("(part)")==False]
c = b[b['location'].str.contains("Schools")==False].index.values.tolist()

/Users/nicholeh/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  from ipykernel import kernelapp as app

In [69]:
indices = [0]
for county in c:
    indices.append(county)
indices

[0,
 19,
 5007,
 6256,
 7271,
 9073,
 10794,
 12404,
 15439,
 16561,
 18924,
 25586,
 32915,
 36379,
 41248,
 44291,
 44632,
 48952,
 49958,
 55688,
 58138,
 60828,
 61451,
 62394,
 66170,
 69447,
 73255,
 81177,
 81989,
 84327,
 90311,
 91576,
 95108,
 100737,
 103183,
 111945,
 113969,
 120460,
 120971,
 122123,
 124333,
 125115,
 137445,
 140271,
 143511,
 147332,
 152042,
 153170,
 155026,
 156047,
 161898,
 165699,
 170181,
 171184,
 173258,
 175772,
 177841,
 180034,
 183010,
 185298,
 186657,
 201185,
 202492,
 204288,
 208402,
 212054,
 217611,
 218796,
 223557,
 226559,
 227751,
 228995,
 231277,
 231873,
 233783,
 238487,
 239647,
 244223,
 246448,
 252953,
 256145,
 260918,
 264460,
 266922,
 269011,
 271540,
 273184,
 276631,
 278095,
 280239,
 280733,
 286473,
 288306,
 304796,
 305742,
 306452,
 309114,
 313024,
 316892,
 319547,
 320861,
 326536,
 326537,
 326770,
 326862,
 326937,
 327029,
 327138,
 327141,
 327142,
 327143,
 327144,
 327147,
 327150,
 327153,
 327158,
 327159,
 327160,
 327161,
 327162,
 327165,
 327169,
 327170,
 327171,
 327172,
 327175,
 327176,
 327177,
 327180,
 327181,
 327184,
 327187,
 327191,
 327192,
 327193,
 327196,
 327197,
 327200,
 327205,
 327206,
 327207,
 327208,
 327211,
 327214,
 327217,
 327220,
 327223,
 327226,
 327229,
 327232,
 327235,
 327236,
 327237,
 327240,
 327244,
 327245,
 327246,
 327249,
 327250,
 327253,
 327256,
 327257,
 327260,
 327263,
 327266,
 327270,
 327274,
 327278,
 327280,
 327283,
 327286,
 327287,
 327288,
 327291,
 327294,
 327295,
 327296,
 327297,
 327334,
 327348,
 327376,
 327405,
 327426,
 327440,
 327465,
 327504,
 327530,
 327545,
 327562,
 327621,
 327640,
 327853,
 327876,
 327917,
 327960,
 328163,
 328169,
 328250,
 328263,
 328294,
 328351,
 328391,
 328439,
 328629,
 328696,
 328872,
 328888,
 328899,
 328925,
 329063,
 329082,
 329120,
 329149,
 329185,
 329445,
 329474,
 329619,
 329641,
 329681,
 329773,
 329824,
 329851,
 330065,
 330165,
 330229,
 330247,
 330278,
 330688,
 330713,
 330745,
 330776,
 330816,
 330889,
 330913,
 331031,
 331104,
 331118,
 331127,
 331134,
 331164,
 331200,
 331225,
 331246,
 331267,
 331286,
 331317,
 331326,
 331342,
 331433,
 331434,
 331804,
 331900,
 332097,
 332115,
 332121,
 332134,
 332152,
 332162,
 332179,
 332186,
 332234,
 332290,
 332320,
 332372,
 332401,
 332490,
 332504,
 332512,
 332523,
 332548,
 332560,
 332575,
 332628,
 332717,
 332728,
 332783,
 332806,
 332829,
 332848,
 332890,
 332930,
 332959,
 333032,
 333103,
 333128,
 333156,
 333225,
 333259,
 333312,
 333392,
 333410,
 333785,
 333837,
 333872,
 334085,
 334126,
 334181,
 334217,
 334248,
 334298,
 334334,
 334349,
 334368,
 334380,
 334488,
 334684,
 334702,
 334769,
 334780,
 334799,
 334837,
 335033,
 335112,
 335127,
 335280,
 335723,
 335761,
 335920,
 335952,
 336006,
 336022,
 336048,
 336077,
 336140,
 336164,
 336221,
 336273,
 336294,
 336313,
 336327,
 336401,
 336437,
 336550,
 336564,
 336573,
 336588,
 336613,
 336634,
 336643,
 336682,
 336688,
 336701,
 336718,
 336733,
 336741,
 336759,
 336769,
 336830,
 336863,
 336915,
 336929,
 336940,
 336952,
 336983,
 337085,
 337183,
 337349,
 337405,
 337523,
 337720,
 337834,
 338076,
 338105,
 338303,
 339072,
 339124,
 339185,
 339301,
 339376,
 339824,
 339867,
 339969,
 340401,
 340610,
 340648,
 340710,
 340820,
 340903,
 340967,
 341024,
 341054,
 341080,
 341121,
 341249,
 341874,
 341935,
 341949,
 342185,
 342233,
 342270,
 342296,
 342310,
 342319,
 0]

In [64]:
indices.append(0)

In [21]:
len(indices)

392

In [25]:
p10.head()

,FILEID,STUSAB,CHARITER,CIFSN,LOGRECNO,Total,Population_of_one_race,White_alone,Black_or_African_American_alone,American_Indian_and_Alaska_Native_alone,...,American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,Population_of_five_races,White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander,White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Some_Other_Race,White__Black_or_African_American__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,White__Black_or_African_American__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,White__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,Population_of_six_races,White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race
0,SF1ST,NC,0,4,1,7253848,7155579,5155756,1497453,87111,...,7,141,118,15,1,1,2,4,16,16
1,SF1ST,NC,0,4,2,6315,5936,1214,29,4563,...,0,0,0,0,0,0,0,0,0,0
2,SF1ST,NC,0,4,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SF1ST,NC,0,4,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,SF1ST,NC,0,4,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
p10.columns

Index(['FILEID', 'STUSAB', 'CHARITER', 'CIFSN', 'LOGRECNO', 'Total',
       'Population_of_one_race', 'White_alone',
       'Black_or_African_American_alone',
       'American_Indian_and_Alaska_Native_alone', 'Asian_alone',
       'Native_Hawaiian_and_Other_Pacific_Islander_alone',
       'Some_Other_Race_alone', 'Two_or_More_Races', 'Population_of_two_races',
       'White__Black_or_African_American',
       'White__American_Indian_and_Alaska_Native', 'White__Asian',
       'White__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__Some_Other_Race',
       'Black_or_African_American__American_Indian_and_Alaska_Native',
       'Black_or_African_American__Asian',
       'Black_or_African_American__Native_Hawaiian_and_Other_Pacific_Islander',
       'Black_or_African_American__Some_Other_Race',
       'American_Indian_and_Alaska_Native__Asian',
       'American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander',
       'American_Indian_and_Alaska_Native__Some_Other_Race',
       'Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'Asian__Some_Other_Race',
       'Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Population_of_three_races',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native',
       'White__Black_or_African_American__Asian',
       'White__Black_or_African_American__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__Black_or_African_American__Some_Other_Race',
       'White__American_Indian_and_Alaska_Native__Asian',
       'White__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__American_Indian_and_Alaska_Native__Some_Other_Race',
       'White__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__Asian__Some_Other_Race',
       'White__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Asian',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Some_Other_Race',
       'Black_or_African_American__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'Black_or_African_American__Asian__Some_Other_Race',
       'Black_or_African_American__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'American_Indian_and_Alaska_Native__Asian__Some_Other_Race',
       'American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Population_of_four_races',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Some_Other_Race',
       'White__Black_or_African_American__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__Black_or_African_American__Asian__Some_Other_Race',
       'White__Black_or_African_American__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'White__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__American_Indian_and_Alaska_Native__Asian__Some_Other_Race',
       'White__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'White__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Some_Other_Race',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Black_or_African_American__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Population_of_five_races',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Some_Other_Race',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'White__Black_or_African_American__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'White__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Population_of_six_races',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race'],
      dtype='object')

In [27]:
p8 = pd.read_csv('./Cleaned_Data_With_Text_Headers/NC_clean_with_text_headers/nc_p8_2010.csv', sep = '\t')

In [28]:
p8.head()

,FILEID,STUSAB,CHARITER,CIFSN,LOGRECNO,Total,Population_of_one_race,White_alone,Black_or_African_American_alone,American_Indian_and_Alaska_Native_alone,...,American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,Population_of_five_races,White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander,White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Some_Other_Race,White__Black_or_African_American__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,White__Black_or_African_American__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,White__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race,Population_of_six_races,White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race
0,SF1ST,NC,0,3,1,9535483,9329284,6528950,2048628,122110,...,7,202,165,22,2,7,2,4,23,23
1,SF1ST,NC,0,3,2,9018,8375,1437,39,6745,...,0,0,0,0,0,0,0,0,0,0
2,SF1ST,NC,0,3,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SF1ST,NC,0,3,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,SF1ST,NC,0,3,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
p8.columns
p8_cols = ['FILEID', 'STUSAB', 'CHARITER', 'CIFSN', 'LOGRECNO','Total','White_alone','Black_or_African_American_alone','Asian_alone']

In [31]:
p8_edited = p8[p8_cols]

In [32]:
p8_edited.head()

,FILEID,STUSAB,CHARITER,CIFSN,LOGRECNO,Total,White_alone,Black_or_African_American_alone,Asian_alone
0,SF1ST,NC,0,3,1,9535483,6528950,2048628,208962
1,SF1ST,NC,0,3,2,9018,1437,39,33
2,SF1ST,NC,0,3,3,0,0,0,0
3,SF1ST,NC,0,3,4,0,0,0,0
4,SF1ST,NC,0,3,5,0,0,0,0

In [38]:
#p8 is highly complex, D4D only wanted high level data, so let's use p3
p3 = pd.read_csv('./Cleaned_Data_With_Text_Headers/NC_clean_with_text_headers/nc_p3_2010.csv', sep = '\t')

In [39]:
p3.head()

,FILEID,STUSAB,CHARITER,CIFSN,LOGRECNO,Total,White_alone,Black_or_African_American_alone,American_Indian_and_Alaska_Native_alone,Asian_alone,Native_Hawaiian_and_Other_Pacific_Islander_alone,Some_Other_Race_alone,Two_or_More_Races
0,SF1ST,NC,0,3,1,9535483,6528950,2048628,122110,208962,6604,414030,206199
1,SF1ST,NC,0,3,2,9018,1437,39,6745,33,2,119,643
2,SF1ST,NC,0,3,3,0,0,0,0,0,0,0,0
3,SF1ST,NC,0,3,4,0,0,0,0,0,0,0,0
4,SF1ST,NC,0,3,5,0,0,0,0,0,0,0,0

In [36]:
p3.shape

(344482, 13)

In [40]:
p3_edited = p3[p8_cols]

In [41]:
p3_edited.head()

,FILEID,STUSAB,CHARITER,CIFSN,LOGRECNO,Total,White_alone,Black_or_African_American_alone,Asian_alone
0,SF1ST,NC,0,3,1,9535483,6528950,2048628,208962
1,SF1ST,NC,0,3,2,9018,1437,39,33
2,SF1ST,NC,0,3,3,0,0,0,0
3,SF1ST,NC,0,3,4,0,0,0,0
4,SF1ST,NC,0,3,5,0,0,0,0

In [43]:
p8.columns

Index(['FILEID', 'STUSAB', 'CHARITER', 'CIFSN', 'LOGRECNO', 'Total',
       'Population_of_one_race', 'White_alone',
       'Black_or_African_American_alone',
       'American_Indian_and_Alaska_Native_alone', 'Asian_alone',
       'Native_Hawaiian_and_Other_Pacific_Islander_alone',
       'Some_Other_Race_alone', 'Two_or_More_Races', 'Population_of_two_races',
       'White__Black_or_African_American',
       'White__American_Indian_and_Alaska_Native', 'White__Asian',
       'White__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__Some_Other_Race',
       'Black_or_African_American__American_Indian_and_Alaska_Native',
       'Black_or_African_American__Asian',
       'Black_or_African_American__Native_Hawaiian_and_Other_Pacific_Islander',
       'Black_or_African_American__Some_Other_Race',
       'American_Indian_and_Alaska_Native__Asian',
       'American_Indian_and_Alaska_Native__Native_and_Other_Pacific_Islander',
       'American_Indian_and_Alaska_Native__Some_Other_Race',
       'Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'Asian__Some_Other_Race',
       'Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Population_of_three_races',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native',
       'White__Black_or_African_American__Asian',
       'White__Black_or_African_American__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__Black_or_African_American__Some_Other_Race',
       'White__American_Indian_and_Alaska_Native__Asian',
       'White__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__American_Indian_and_Alaska_Native__Some_Other_Race',
       'White__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__Asian__Some_Other_Race',
       'White__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Asian',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Some_Other_Race',
       'Black_or_African_American__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'Black_or_African_American__Asian__Some_Other_Race',
       'Black_or_African_American__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'American_Indian_and_Alaska_Native__Asian__Some_Other_Race',
       'American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Population_of_four_races',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Some_Other_Race',
       'White__Black_or_African_American__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__Black_or_African_American__Asian__Some_Other_Race',
       'White__Black_or_African_American__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'White__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__American_Indian_and_Alaska_Native__Asian__Some_Other_Race',
       'White__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'White__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Some_Other_Race',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Black_or_African_American__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Population_of_five_races',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Some_Other_Race',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'White__Black_or_African_American__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'White__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race',
       'Population_of_six_races',
       'White__Black_or_African_American__American_Indian_and_Alaska_Native__Asian__Native_Hawaiian_and_Other_Pacific_Islander__Some_Other_Race'],
      dtype='object')

In [44]:
### p3 doesn't include latinos, but p4 does
p4 = pd.read_csv('./Cleaned_Data_With_Text_Headers/NC_clean_with_text_headers/nc_p4_2010.csv', sep = '\t')

In [45]:
p4.columns

Index(['FILEID', 'STUSAB', 'CHARITER', 'CIFSN', 'LOGRECNO', 'Total',
       'Not_Hispanic_or_Latino_', 'Hispanic_or_Latino'],
      dtype='object')

In [46]:
p4.head()

,FILEID,STUSAB,CHARITER,CIFSN,LOGRECNO,Total,Not_Hispanic_or_Latino_,Hispanic_or_Latino
0,SF1ST,NC,0,3,1,9535483,8735363,800120
1,SF1ST,NC,0,3,2,9018,8467,551
2,SF1ST,NC,0,3,3,0,0,0
3,SF1ST,NC,0,3,4,0,0,0
4,SF1ST,NC,0,3,5,0,0,0

In [47]:
#p5 combines race and latino origin
p5 = pd.read_csv('./Cleaned_Data_With_Text_Headers/NC_clean_with_text_headers/nc_p5_2010.csv', sep = '\t')

In [48]:
p5.head()

,FILEID,STUSAB,CHARITER,CIFSN,LOGRECNO,Total,Not_Hispanic_or_Latino,White_alone,Black_or_African_American_alone,American_Indian_and_Alaska_Native_alone,...,Some_Other_Race_alone,Two_or_More_Races,Hispanic_or_Latino_,White_alone.1,Black_or_African_American_alone.1,American_Indian_and_Alaska_Native_alone.1,Asian_alone.1,Native_Hawaiian_and_Other_Pacific_Islander_alone_.1,Some_Other_Race_alone.1,Two_or_More_Races.1
0,SF1ST,NC,0,3,1,9535483,8735363,6223995,2019854,108829,...,15088,155759,800120,304955,28774,13281,2383,1345,398942,50440
1,SF1ST,NC,0,3,2,9018,8467,1376,39,6443,...,2,572,551,61,0,302,0,0,117,71
2,SF1ST,NC,0,3,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SF1ST,NC,0,3,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,SF1ST,NC,0,3,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
p5.columns

Index(['FILEID', 'STUSAB', 'CHARITER', 'CIFSN', 'LOGRECNO', 'Total',
       'Not_Hispanic_or_Latino', 'White_alone',
       'Black_or_African_American_alone',
       'American_Indian_and_Alaska_Native_alone', 'Asian_alone',
       'Native_Hawaiian_and_Other_Pacific_Islander_alone_',
       'Some_Other_Race_alone', 'Two_or_More_Races', 'Hispanic_or_Latino_',
       'White_alone.1', 'Black_or_African_American_alone.1',
       'American_Indian_and_Alaska_Native_alone.1', 'Asian_alone.1',
       'Native_Hawaiian_and_Other_Pacific_Islander_alone_.1',
       'Some_Other_Race_alone.1', 'Two_or_More_Races.1'],
      dtype='object')

In [50]:
p5[['Not_Hispanic_or_Latino', 'White_alone',
       'Black_or_African_American_alone',
       'Asian_alone',
       'Hispanic_or_Latino_',
       'White_alone.1', 'Black_or_African_American_alone.1',
       'American_Indian_and_Alaska_Native_alone.1', 'Asian_alone.1']]

,Not_Hispanic_or_Latino,White_alone,Black_or_African_American_alone,Asian_alone,Hispanic_or_Latino_,White_alone.1,Black_or_African_American_alone.1,American_Indian_and_Alaska_Native_alone.1,Asian_alone.1
0,8735363,6223995,2019854,206579,800120,304955,28774,13281,2383
1,8467,1376,39,33,551,61,0,302,0
2,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0
6,527141,235743,196095,8574,49348,18039,3735,1531,227
7,0,0,0,0,0,0,0,0,0
8,8031604,5716241,1851697,203157,745157,288530,27538,12140,2272
9,3206221,1843488,1129227,137006,375075,141305,18056,5682,1202
10,4825383,3872753,722470,66151,370082,147225,9482,6458,1070
11,6092872,4286303,1458699,184070,611486,237742,23860,9645,1923
12,2734119,1558306,965102,128701,332158,124891,16546,5073,1110
13,3358753,2727997,493597,55369,279328,112851,7314,4572,813
14,1938732,1429938,392998,19087,133671,50788,3678,2495,349
15,472102,285182,164125,8305,42917,16414,1510,609,92
16,1466630,1144756,228873,10782,90754,34374,2168,1886,257
17,703759,507754,168157,3422,54963,16425,1236,1141,111
18,2642491,1937692,561155,22509,188634,67213,4914,3636,460
19,134492,101718,27985,1806,16639,5702,384,478,31
20,4731,4332,309,20,138,88,0,1,0
21,4731,4332,309,20,138,88,0,1,0
22,993,859,109,11,23,15,0,0,0
23,72,72,0,0,4,3,0,0,0
24,51,51,0,0,4,3,0,0,0
25,0,0,0,0,0,0,0,0,0
26,5,5,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0
28,16,16,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
344452,104608,96991,4715,1007,8614,3699,118,174,14
344453,43898,27369,14159,419,2741,703,110,104,12
344454,14170,10450,3207,253,445,159,30,9,3
344455,123236,36160,32347,971,10932,2717,290,636,22
344456,88484,68744,17529,423,5159,2131,126,38,7
344457,121173,96565,21202,1268,9207,3554,202,84,24
344458,65413,57054,6804,289,2397,1167,50,15,7
344459,39045,26469,11155,106,8577,1780,139,152,25
344460,35403,16605,13884,276,754,217,59,74,0
344461,58419,49877,6590,1108,2166,746,40,22,10
344462,46147,43447,1897,125,1254,574,19,18,0
344463,50677,48360,1529,170,5587,1881,55,37,7
344464,9270,8479,57,57,252,114,1,40,1
344465,12332,7423,4415,131,2647,895,51,21,10
344466,32126,30049,1279,143,964,528,13,2,1
344467,4167,2350,1677,80,240,53,6,10,0
344468,180325,150098,23134,3243,20967,8856,424,210,28
344469,42371,19101,22477,199,3051,957,168,68,3
344470,813071,560536,182793,48287,87922,37010,3717,1966,266
344471,20280,7971,10911,49,692,157,59,24,2
344472,12762,5998,6567,38,466,86,20,3,0
344473,49366,47268,855,467,1713,1004,22,12,8
344474,110461,68216,38107,1405,12162,3919,392,148,26
344475,7393,2056,5107,50,170,31,26,9,1
344476,14203,8796,4882,81,670,192,24,14,4
344477,65568,61587,2785,295,3772,1237,45,23,1
344478,73510,40157,31462,664,7724,2065,224,48,4
344479,34657,33022,1165,71,3749,985,27,13,7
344480,17004,16652,128,34,814,315,17,37,0
344481,7605,1124,32,32,498,55,0,261,0

In [70]:
p5_edited = p5[['FILEID', 'STUSAB', 'CHARITER', 'CIFSN', 'LOGRECNO','Total',
    'White_alone','Black_or_African_American_alone','Asian_alone','Hispanic_or_Latino_']].ix[indices]

In [72]:
p5_edited.head()

,FILEID,STUSAB,CHARITER,CIFSN,LOGRECNO,Total,White_alone,Black_or_African_American_alone,Asian_alone,Hispanic_or_Latino_
0,SF1ST,NC,0,3,1,9535483,6223995,2019854,206579,800120
19,SF1ST,NC,0,3,20,151131,101718,27985,1806,16639
5007,SF1ST,NC,0,3,5008,37198,32671,2025,357,1601
6256,SF1ST,NC,0,3,6257,11155,9862,133,53,1004
7271,SF1ST,NC,0,3,7272,26948,12344,13038,281,812